@import "tailwindcss";

/* Custom styles below are fine */
body {
  background-color: #0A0A0A;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0A0A; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}